.page-drag-and-drop-wrapper {
  z-index: 99999999;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #eee;
  overflow: hidden;
  text-align: center;
  display: none;

  .page-drag-and-drop-container {
    margin: 10px;
    border: 5px dashed red;
    height: calc(100% - 20px);
  }

  p {
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
    color: #444;
  }

  i {
    font-size: 8em;
  }

  .loader {
    position: relative;
    top: calc(50% - 30px);
  }
}
